tsconfig.tsbuildinfo
coverage
node_modules
dist/
.env
build
dist
cloudformation.yml
ddd.js
yarn.lock
lerna-debug.log
*.lerna_backup
_book
.idea/
.DS_STORE
.serverless/
.serverless-offline
!serverless.example.yml
tsconfig.tsbuildinfo
docs/

test.js
test.json
test2.json

.vscode/settings.json
